<h1>Loan Payment Calculator</h1>

<form action="/payment/result" method="get">
  <label for="apr">APR</label>
  <input type="text" name="apr" id="apr">

  <label for="years">Number of years</label>
  <input type="text" name="years" id="years">

  <label for="principal">Principal</label>
  <input type="text" name="principal" id="principal">

  <button type="submit">Calculate monthly payment</button>
</form>
