<h1>Random Number Generator</h1>

<form action="/random/result" method="get">
  <label for="min">Minimum</label>
  <input type="text" name="min" id="min">

  <label for="max">Maximum</label>
  <input type="text" name="max" id="max">

  <button type="submit">Pick random number</button>
</form>
